@media (min-width:649px) {
      body{
        font-size: 18px;
      }

        h1{
            font-size: 2.5rem;
        }
        .nav-link {
            flex-direction: row;
            position: static;
            width: auto;
            display: flex;
            gap:50px;
            justify-content: center;
            font-family: var(--heading-font);
            font-size: 30px;
       
        }
            nav a:hover{
                box-shadow: 20px 5px 5px var(--accent1-color);
                padding: 0;
                margin: 0;
            }
        .Hamburger {
            display: none;
        }
        main{
        background-color: aqua;
        max-width: 100%;
        }

        
        .gallery{
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        overflow: visible;
        }
}        
    

    