*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #4C6085;
	--secondary-color: #39A0ED;
	--accent1-color: #36F1CD;
	--accent2-color: #13C4A3 #32322C;

    --heading-font: "Lexend", sans-serif;  
    --paragraph-font: "Roboto"; 
}

body {
font-family: var(--paragraph-font);

}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

header{
    background-color: var(--primary-color);
    color: white;
    padding: 20px;

}

h1{
    font-size: 1,5rem;
    }

    span {
        color: var(--accent1-color);}

        

    nav{
        background-color: var(--secondary-color);
        padding:1rem;
        position:relative;
        height: auto;
          z-index: 10;
        }

        
    .nav-link {
  flex-direction: column;
  position: absolute;
  top:100%;
  left: 0;
  text-align: left;
  list-style: none;
  display: none;
  width:100%;
}

 nav a{
        color: aliceblue;
        text-decoration: none;}


     nav a:hover{
        border: 2px solid var(--accent1-color);
        padding: 5px;
        margin-bottom: 10px;}


    .nav-link a{
                   color: #fff;
                   padding: 5px;
                   display: block;
                  text-decoration: none;
                  font-size: 15px;
                }
  
    .nav-link.active{
            display:block;
             z-index: 15;
            
    }

    .Hamburger {
                font-size:5PX;
                background: none;
                border: none;
                color: #333;
                cursor: pointer;
                 padding:5px;
                 position: relative;
                   z-index: 20;
                 
}

  

.Hamburger span {
  display: block;
  width:30px;
  height: 3px;
  background: black;
  margin: 6px 0;
  transition: 0.4s;
}

.Hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.Hamburger.active span:nth-child(2) {
  opacity: 0;
}

.Hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}


    main{
    background:#13C4A3 ;
    max-width: 800px;
    margin: 5px auto;
    padding: 20px;
    border:#39A0ED 2px solid;
    border-radius: 15px;
    }

    main h1{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin:10px;
}

 .gallery{
        display:grid;
        grid-template-columns:1fr;
        gap:19px;
        justify-items: center;
    }  

    .gallery img{
        width:100%;
        height:auto;
        border-radius: 20px;
    }

.temple-card {
  border: 1px solid #ccc;
  padding:15px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;

}

footer{ background-color: var(--primary-color);
     text-align: center;
     padding:0.5rem;
}
