
body {
    font-family: Arial, sans-serif;
    background-color:#111;
    color: #111;
    margin: 0;
    padding: 0;
}

header, footer {
    text-align: center;
    padding: 1rem;
    background-color: #ff1493; 
}

main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 600px;
    color:#111;
    background-color:#F2A900 ;
    border-radius: 10px;
}

form label {
    display: block;
    margin-top: 1rem;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    background-color: #ff1493;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
}

input[type="submit"]:hover {
    background-color: #e6007e;
}