
body {
    font-family: Arial, sans-serif;
    background-color:#111;
    color: #fffdfeec;
    margin: 0;
    padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #4b003f;
}


.header {
  background: #4b003f;
  color: white;
  padding: 25px;
  text-align: center;
}


.container {
  background: #0e0d0d;
  max-width: 650px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 6px;
}


label {
  display: block;
  font-weight: bold;
  margin-top: 18px;
}


select,
input[type="date"],
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

textarea {
  height: 120px;
  resize: none;
}


.rating {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


.rating label {
  font-weight: normal;
  text-align: center;
}


.checkbox-group {
  margin-top: 10px;
}

.checkbox-group label {
  display: block;
  font-weight: normal;
  margin-bottom: 6px;
}


.optional {
  color: blue;
  font-weight: normal;
}

.italic {
  font-style: italic;
}


button {
  width: 100%;
  margin-top: 25px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #888;
  background: #f2f2f2;
  cursor: pointer;
}

button:hover {
  background: #ddd;
}


.footer {
  background: #4b003f;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

