*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #4C6085;
	--secondary-color: #39A0ED;
	--accent1-color: #36F1CD;
	--accent2-color: #13C4A3 #32322C;

    --heading-font: "Lexend", sans-serif;  
    --paragraph-font: "Roboto"; 
}

body {
font-family: var(--paragraph-font);

}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

header{
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
}
h1{
    font-size: 1,5rem;
    }

    span {
        color: var(--accent1-color);}

    nav{
        background-color: var(--secondary-color);
        padding: 10px 0;
        height: auto;
        }

    .nav-link {
  flex-direction: column;
  gap:5px;
  position: absolute;
  top:20px;
  left: 0;
  width: 100%;
  text-align: center;
  list-style: none;
  display: none;
}

    
    nav a{
        color: aliceblue;
        text-decoration: none;}


     nav a:hover{
        border: 2px solid var(--accent1-color);
        padding: 5px;
        margin-bottom: 10px;}


    .nav-link a{
                   color: #fff;
                   padding: 12px;
                   display: block;
                  text-decoration: none;
                  font-size: 20px;
                }
  
    .nav-link.active{
            display: flex;
            
    }
        
        
    .Hamburger {
                font-size: 28px;
                background: none;
                border: none;
                color: #333;
                cursor: pointer;
                 padding: 10px;
                 position: relative;
                 
}

   .Hamburger span {
                    
                    width: 25px;
                    height: 3px;
                    margin: 5px;
                    background-color: #333;
                    transition: all 0.3s ease;
}




.Hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.Hamburger.active span:nth-child(2) {
  opacity: 0;
}

.Hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
    
main{
    background:#13C4A3 ;
    max-width: 800px;
    margin: 5px auto;
    padding: 20px;
    border:#39A0ED 2px solid;
    border-radius: 15px;
    }

    .gallery{
        display:grid;
        grid-template-columns:1fr;
        gap:19px;
        justify-items: center;
    }  

    .gallery img{
        width:100%;
        height:auto;
        border-radius: 20px;
    }

    figcaption{
        text-align: center;
        font-size: 1rem;
        margin-top: 8px;
        color:white;
        box-shadow: #a5adac 0px 4px 6px -1px, #171818 0px 2px 4px -1px;
    }

    footer{
        background-color: var(--primary-color);
        color: white;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
    }