
    :root {
      --primary-color: #3a1f1f; 
      --secondary-color: #f5e6d3;
      --accent-color: #c89b3c; 
      --heading-font: 'Playfair Display', serif;
      --body-font: 'Montserrat', sans-serif;
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
  margin: 0;
  color: #111;
  background: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position:relative;
  top: 0;
  background:var(--secondary-color);
  border-bottom: 1px solid #eee;
  z-index: 1000;
}
.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #111;
  font-size:25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
   transition: opacity 0.3 ease;
}

.navbar a:hover{
  color: #c89b3c;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px;
  align-items: center;
}

.hero h2 {
  font-size: 48px;
  line-height: 1.2;
}
.hero button {
  padding: 12px 30px;
  background: var(--accent-color);
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.hero img {
  width: 100%;
}
.brand-strip {
  text-align: center;
  padding: 20px;
  background: var(--primary-color);
  letter-spacing: 2px;
  font-size: 13px;
  color: white;
}
.collections {
  padding: 60px;
}
.collection-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.collection-card {
  height: 300px;
  background: var(--secondary-color);
  display: flex;
  align-items: flex-end;
  padding: 20px;
  font-size: 22px;
  position: relative;
}
.collection-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.collection-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.collection-card:hover .overlay {
    opacity: 1;
}
.collection-card span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    z-index: 1;
    font-weight: bolder;
    border: #111 2px solid;
    border-radius: 10px;
}
.products {
  padding: 60px;
}
 h3{
  margin:10px;
  text-align:center ;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.product-card {
  text-align: center;
  transition: transform 0.3s;
}
.product-card:hover {
  transform: translateY(-5px);
}
.product-card img {
  width: 100%;
}
.product-card button {
  opacity: 0;
  transition: 0.3s;
  padding: 8px 20px;
  background: black;
  color: white;
  border: none;
}
.product-card:hover button {
  opacity: 1;
}
.banner {
  height: 70vh;
  background: var(--accent-color);
  color: white;
  display: flex;
  align-items: center;
  padding: 60px;
}
.why-us {
  padding: 60px;
  background:var(--secondary-color);
}
.reasons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.testimonials {
  padding: 60px;
  text-align: center;
}
.newsletter {
  padding: 60px;
  text-align: center;
  background: #111;
  color: white;
}

.newsletter input {
  padding: 10px;
  width: 250px;
}

.newsletter button {
  padding: 10px 25px;
  background: var(--accent-color);
  border: none;
}

footer {
  padding: 20px;
  text-align: center;
  background:var(--secondary-color);
  color: black;
}

/** COLLECTION START**/

.collections-hero {
  height: 60vh;
  background: linear-gradient(
      rgba(0,0,0,0.45),
      rgba(0,0,0,0.45)
    ),
    url("images/hero3.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content {
  text-align: center;
  color: #fff;
}
.hero-content h1 {
  font-size: 48px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.hero-content p {
  font-size: 18px;
  opacity: 0.9;
}
.filter-bar {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 50px 20px;
}
.filter {
  background: none;
  border: 1px solid #222;
  padding: 10px 26px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.filter.active,
.filter:hover {
  background: #222;
  color: #fff;}

.collections-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  padding: 0 8% 80px;
}

/* CARD */
.collection-card {
  background:var(--accent-color);
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 12px 35px rgba(0,0,0,0.1);
  transition: transform 0.4s ease;
}
.collection-card:hover {
  transform: translateY(-12px);
}
.image-box {
  position: relative;
  height: 300px;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.image-box:hover .overlay {
  opacity: 1;
}
.overlay a {
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 30px;
  text-decoration: none;
  letter-spacing: 1px;
}

/* DETAILS */
.collection-details {
  padding: 25px;
}

.collection-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.tagline {
  color:var(--primary-color);
  margin-bottom: 18px;
}
.stats {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.stats span {
  font-size: 13px;
  background:var(--primary-color);
  padding: 6px 12px;
  border-radius: 20px;
}
.filter-bar {
  position: sticky;
  top: 0;
  background: #f6efe6;
  z-index: 10;
}
.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.search-box input {
  width: 300px;
  padding: 12px 18px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-top: 10px;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal.active {
  display: flex;
}
.modal-content {
  background: #fff;
  padding: 40px;
  max-width: 400px;
  text-align: center;
  border-radius: 14px;
}
.close {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-size: 22px;
}

/*COLLECTION ENDS*/

/* ABOUT START*/
.about-hero {
  height: 70vh;
  background: url("images/3.jpeg") center/cover no-repeat;
  position: relative;
}
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.hero-overlay h1 {
  font-size: 50px;
  letter-spacing: 3px;
}
.hero-overlay p {
  font-size: 18px;
  margin-top: 10px;
}
.about-story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 80px 8%;
  align-items: center;
}
.story-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
.story-text p {
  line-height: 1.8;
  margin-bottom: 15px;
  color: #555;
}
.story-image img {
  width: 100%;
  border-radius: 16px;
}
.values {
  background:var(--accent-color);
  padding: 80px 8%;
  text-align: center;
}
.values h2 {
  font-size: 32px;
  margin-bottom: 40px;
}
.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.value-card {
  padding: 40px;
  background:var(--primary-color);
  border-radius: 16px;
}
.value-card h3 {
  margin-bottom: 10px;
  color:white;
}
.value-card p{
  color:white;
}
.process {
  padding: 80px 8%;
}
.process h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}
.process-steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}
.step span {
  font-size: 28px;
  font-weight: bold;
  color:white;
}
.founder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 8%;
  gap: 60px;
  align-items: center;
  background:var(--primary-color);
  color: white;
}
.founder-image img {
  width: 100%;
  border-radius: 16px;
}
.signature {
  margin-top: 20px;
  font-style: italic;
  color: blue;
}
.stats {
  display: flex;
  justify-content: space-around;
  padding: 60px 8%;
  background: #1e1e1e;
  color: #fff;
}
.stat h3 {
  font-size: 36px;
}
/*ABOUT ENDS*/

@media (max-width: 768px) {
  .navbar{
    display:flex;
    height: auto;
  }
  .navbar a{
    position: absolute;
    top:100%;
    left:0;
    width:100%;
    flex-direction: column;

    gap:1rem;
    padding:2rem 0;

    
  }

  
   
  .hero {
    grid-template-columns: 1fr;
  }
  .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
  position: relative;
}
.hamburger span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
 .product-grid,
  .collection-grid,
  .reasons {
    grid-template-columns: 1fr;
  }
  .about-story,
  .founder {
    grid-template-columns: 1fr;
  }
  .hero-overlay h1 {
    font-size: 36px;
  }
.newsletter button {
  padding: 10px 25px;
  background: var(--accent-color);
  border: none;
margin:3px;
}
  }
  @media (max-width: 600px) {
  .hero-content h1 {
    font-size: 34px;
  }
}


  


